# Minimal Django Buildout
# http://code.google.com/p/django-buildout/

[buildout]
eggs =
	django-tinymce
	django-taggit
parts =
	django
versions = versions

[versions]
django = 1.10.5
django-taggit=0.20

[django]
recipe = djangorecipe
wsgi = true
settings = settings
eggs = ${buildout:eggs}
project = wound
