<nav class="navigation">
	<div class="navicon">&#9776;</div>
	<ul class="navigation-menu">
		<li class="navigation-menu-item">
			<a href="{{ site_url }}#header">Wound</a>
		</li>
		<li class="navigation-menu-item">
			<a href="{{ site_url }}#tools">Tools</a>
		</li>
		<li class="navigation-menu-item">
			<a href="{{ site_url }}#trainings">Trainings</a>
		</li>

		<li class="navigation-menu-item">
			<a href="{{ site_url }}/past">Past Trainings</a>
		</li>

		<li class="navigation-menu-item">
			<a href="{{ site_url }}#facilitators">Facilitators</a>
		</li>
		{% for content_block in content_blocks %}
		{% if not forloop.first %}
		<li class="navigation-menu-item">
			<a href="{{ site_url }}#{{ content_block.slug }}">{{ content_block.name }}</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</nav>