<div class="section-content">
	{% for training in trainings %}
	<div class="training" id="{{ training.slug }}">
		<h3 class="training-time">{{ training.name }} <a href="#{{ training.slug }}"><i class="fa fa-chain"></i></a></h3>
		<span class="training-name">{{ training.date|date:"l, F j, g:iA" }}</span>
		<br />
		<span class="training-facilitator">{{ training.facilitators.first.name }}</span>
		<br />
		<div class="training-description">{{ training.description|safe }}</div>
		<a class="training-rsvp" href="{{ training.link }}" target="_blank">RSVP</a>
	</div>
	{% endfor %}
	<div class="training" style="text-align:center;">
		<a href="{{ site_url }}/past">See past trainings</a>
	</div>
</div>
