@charset "UTF-8";
* {
  box-sizing: border-box; }

p {
  margin: 0 0 2rem 0; }

a {
  text-decoration: underline;
  color: #170c01;
  z-index: 20;
  position: relative; }
  a:visited {
    color: #170c01; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  color: #170c01;
  background-color: rgba(72, 30, 23, 0.06);
  letter-spacing: 0.05rem; }
  @media (min-width: 768px) {
    body {
      line-height: 1.7;
      font-size: 2.5rem; } }
  @media (min-width: 768px) {
    body {
      font-size: 1.5rem;
      line-height: 1.5; } }

.navigation {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 0;
  width: 100%; }
  @media (min-width: 768px) {
    .navigation {
      background-color: #f4f1f1; } }
  .navigation.show {
    height: auto;
    opacity: 1;
    height: auto;
    opacity: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #f4f1f1; }
    .navigation.show:before, .navigation.show:after {
      display: table;
      content: " ";
      clear: both; }
  .navigation.show .navigation-menu {
    height: auto;
    opacity: 1; }
  .navigation.show .navigation-menu-item a {
    display: block; }
  .navigation.show .navicon {
    color: rgba(23, 12, 1, 0.2); }

.navigation-menu {
  z-index: 2;
  text-align: center;
  padding: 0.5rem;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out; }
  @media (min-width: 768px) {
    .navigation-menu {
      text-align: center;
      opacity: 1;
      padding: 0;
      border-bottom: 1px solid rgba(72, 30, 23, 0.06); } }

.navigation-menu-item {
  width: 100%;
  margin: 0 0 0.5rem 0; }
  @media (min-width: 768px) {
    .navigation-menu-item {
      display: inline-block;
      width: auto;
      margin: 0;
      font-size: 1.8rem; } }
  @media (min-width: 1140px) {
    .navigation-menu-item {
      font-size: 1.7rem; } }
  .navigation-menu-item a {
    display: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold; }
    @media (min-width: 768px) {
      .navigation-menu-item a {
        display: block;
        padding: 0.5rem 1.8rem;
        color: #170c01;
        text-transform: uppercase; } }

.navicon {
  display: block;
  position: absolute;
  right: 0;
  z-index: 1000;
  cursor: pointer;
  color: #170c01;
  font-size: 3.5rem;
  padding: 0.3rem 0.9rem;
  background-color: rgba(244, 241, 241, 0.95); }
  @media (min-width: 768px) {
    .navicon {
      display: none; } }
  @media (min-width: 768px) {
    .navicon:hover {
      cursor: pointer; } }

.content {
  z-index: 1;
  width: 100%;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  overflow: auto; }

.header {
  width: 100%; }
  @media (min-width: 768px) {
    .header {
      width: 100%; } }
  @media (min-width: 1140px) {
    .header {
      width: 100%; } }

.section {
  margin: 0 0 5rem 0;
  padding: 4rem 0 0 0;
  min-height: 100vh; }
  .section .section {
    min-height: auto;
    margin: 0;
    padding: 0; }

.section--detail {
  margin: 10rem 0 0 0; }

.section--trainings,
.section--tag,
.section--all-tags {
  min-height: auto; }

.section-header {
  margin: 0 0 4rem 0;
  padding: 0 2rem;
  text-align: center;
  color: #170c01;
  font-size: 3rem;
  letter-spacing: 0.1rem; }
  @media (min-width: 768px) {
    .section-header {
      font-size: 4rem; } }

.section-header--artists {
  margin: 0; }

.section-content {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
  overflow: auto; }
  .section-content:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 768px) {
    .section-content {
      padding: 0 4rem 4rem; } }

.section-intro .section-content {
  padding-top: 10rem;
  padding-bottom: 5rem; }

@media (min-width: 960px) {
  .section-intro .section-content, .section-about .section-content, .section-visit .section-content {
    max-width: 80rem; } }

.section-past-trainings {
  margin-top: 5rem; }

.fa-chain {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 2rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .fa-chain:before {
    content: ""; }
  .fa-chain.fa-chain-big {
    font-size: 3rem; }

.header-text {
  font-size: 3.3rem;
  font-weight: bold;
  margin: 6rem 0 9rem 0;
  line-height: 1.2;
  text-align: center; }
  @media (min-width: 768px) {
    .header-text {
      font-size: 7rem;
      margin: 17rem 0; } }
  @media (min-width: 768px) {
    .header-text {
      margin: 12rem 0; } }
  @media (min-width: 960px) {
    .header-text {
      margin: 16rem 0; } }

.item {
  margin: 0 0 3rem 0;
  padding: 0 0 3rem 0; }
  @media (min-width: 960px) {
    .item {
      width: 29.1666666667%;
      float: left;
      margin-left: 2.0833333333%;
      margin-right: 2.0833333333%;
      padding: 0; } }
  @media (min-width: 1140px) {
    .item {
      width: 29.1666666667%;
      float: left;
      margin-left: 2.0833333333%;
      margin-right: 2.0833333333%; } }
  .item.item--detail {
    margin: 0;
    padding: 0;
    width: 100%; }

.item__image {
  width: 100%;
  height: 25rem;
  object-fit: cover; }

.item__primary-image {
  width: 100%;
  margin: 0 0 1.5rem 0; }

.item__name {
  margin: 0; }

.item__name--contributor {
  font-weight: bold; }

.item__meta {
  margin: 0; }

.item--detail .item__meta {
  margin: 0 0 2rem; }

.item__key {
  font-weight: bold; }

.item__value {
  display: inline; }

.event {
  margin: 0 0 3rem 0;
  padding: 0 0 3rem 0; }
  @media (min-width: 1140px) {
    .event:last-child {
      padding: 0; } }

.event__time {
  margin: 0; }

.event__name {
  margin: 0; }

.event__text {
  margin: 0; }

.event__description {
  margin: 1rem 0; }

.section__row--texts {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem; }
  @media (min-width: 768px) {
    .section__row--texts {
      margin-bottom: 3rem; } }
  @media (min-width: 1140px) {
    .section__row--texts {
      border-bottom: none; } }

.section__row {
  position: relative;
  overflow: hidden; }

.item {
  margin: 0 0 3rem 0;
  padding: 0 0 3rem 0; }
  @media (min-width: 960px) {
    .item {
      width: 45.8333333333%;
      float: left;
      margin-left: 2.0833333333%;
      margin-right: 2.0833333333%;
      padding: 0;
      font-size: 1.8rem; } }
  @media (min-width: 1140px) {
    .item {
      width: 45.8333333333%;
      float: left;
      margin-left: 2.0833333333%;
      margin-right: 2.0833333333%;
      font-size: 1.6rem; } }
  .item.item--detail {
    margin: 0;
    padding: 0;
    width: 100%; }

.item--text {
  margin-bottom: 1rem;
  padding: 6rem 0;
  position: relative; }
  @media (min-width: 768px) {
    .item--text {
      padding: 6rem 3rem 6rem 0;
      margin-top: 0;
      margin-bottom: 0; } }
  @media (min-width: 1140px) {
    .item--text {
      width: 45.8333333333%;
      float: left;
      margin-left: 2.0833333333%;
      margin-right: 2.0833333333%;
      margin-bottom: 3rem; } }
  @media (min-width: 1140px) {
    .item--text.show {
      padding: 0; } }
  .item--text.show .item__description {
    height: auto; }
  .item--text.show .item__toggle {
    display: none; }
  .item--text .item__name {
    margin: 0 0 1rem 0; }
  .item--text .item__description {
    height: 18rem;
    overflow: hidden; }
    @media (min-width: 768px) {
      .item--text .item__description {
        height: 26.7rem; } }
    @media (min-width: 960px) {
      .item--text .item__description {
        height: 19.5rem; } }
    @media (min-width: 1140px) {
      .item--text .item__description {
        height: 19rem; } }
  .item--text .item__toggle {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    z-index: 10;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .item--text .item__toggle {
        bottom: 2rem; } }
    @media (min-width: 960px) {
      .item--text .item__toggle {
        bottom: 1rem;
        right: 6rem; } }
    @media (min-width: 1140px) {
      .item--text .item__toggle {
        bottom: 0;
        right: 0; } }

.gallery {
  margin: 0 0 3rem; }

.gallery__item {
  margin: 0 0 3rem; }
  @media (min-width: 768px) {
    .gallery__item {
      margin: 0;
      width: 48%;
      height: 25rem;
      display: inline-block; } }

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.practice__primary-image {
  width: 100%;
  height: 25rem;
  object-fit: cover; }

.practice__primary-image--placeholder {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEjpMcPgAAAABJRU5ErkJggg==);
  opacity: 0.5; }

.tag {
  margin: 0 0 1rem; }
  .tag:last-child {
    margin: 0; }

.item__list {
  margin: 6rem 0 0 0; }
  .item__list .list__item {
    margin: 0 0 3rem 0; }
    @media (min-width: 768px) {
      .item__list .list__item {
        clear: both;
        margin: 0; } }

.reading__name,
.reading__tags {
  display: block; }
  @media (min-width: 768px) {
    .reading__name,
    .reading__tags {
      float: left; } }

.list__item--header {
  display: none;
  font-weight: bold;
  overflow: hidden;
  margin: 0 0 1rem 0; }
  @media (min-width: 768px) {
    .list__item--header {
      display: block; } }

.reading__tags {
  margin: 0; }

@media (min-width: 768px) {
  .reading__name {
    width: 50%; } }

@media (min-width: 768px) {
  .reading__tags {
    width: 45%; } }

.name__label,
.tags__label {
  font-weight: bold; }
  @media (min-width: 768px) {
    .name__label,
    .tags__label {
      display: none; } }

.training--empty {
  text-align: center; }

.training {
  margin: 0 0 3rem 0; }

.training-time {
  margin: 0; }

.all-tags__item {
  display: block; }
  @media (min-width: 768px) {
    .all-tags__item {
      display: inline-block; } }
