@import 'susy'

$susy: ( columns: 12, gutters: 1, container: 120rem, math: fluid, output: float, gutter-position: inside, global-box-sizing: border-box )


// Colours
$color-type: #170c01
$color-active: #170c01
$color-background: rgba(72, 30, 23, 0.06)

// Breakpoints
$mobile-landscape: 480px
$tablet: 768px
$tablet-wide: 768px
$desktop: 960px
$widescreen: 1140px

*
  box-sizing: border-box

%clearfix
  &:after
    content: ""
    display: table
    clear: both

p
  margin: 0 0 2rem 0

a
  text-decoration: underline
  color: $color-type
  z-index: 20
  position: relative

  &:visited
    color: $color-type

ul
  list-style: none
  margin: 0
  padding: 0

li
  margin: 0
  padding: 0

html
  font-size: 62.5% // 10px

body
  font-family: 'Work Sans', sans-serif
  font-size: 1.8rem
  line-height: 1.7
  margin: 0
  padding: 0
  color: $color-type
  background-color: $color-background
  letter-spacing: 0.05rem

  @media (min-width: $tablet)
    line-height: 1.7
    font-size: 2.5rem

  @media (min-width: $tablet-wide)
    font-size: 1.5rem
    line-height: 1.5

.navigation
  position: fixed
  z-index: 100
  top: 0
  right: 0
  padding: 0
  width: 100%

  @media (min-width: $tablet-wide)
    background-color: rgb(244, 241, 241)

  &.show
    height: auto
    opacity: 1
    height: auto
    opacity: 1
    border-bottom: 1px solid rgba(0,0,0,0.2)
    background-color: rgb(244, 241, 241)

    &:before,
    &:after
      display: table
      content: " "
      clear: both

  &.show
    .navigation-menu
      height: auto
      opacity: 1

    .navicon
      color: rgba(23,12,1,0.2)

.navigation-menu
  z-index: 2
  text-align: center
  padding: 0.5rem
  opacity: 0
  transition: opacity .25s ease-in-out
  -moz-transition: opacity .25s ease-in-out
  -webkit-transition: opacity .25s ease-in-out

  @media (min-width: $tablet-wide)
    text-align: center
    opacity: 1
    padding: 0
    border-bottom: 1px solid $color-background

.navigation-menu-item
  width: 100%
  margin: 0 0 0.5rem 0

  @media (min-width: $tablet-wide)
    display: inline-block
    width: auto
    margin: 0
    font-size: 1.8rem

  @media (min-width: $widescreen)
    font-size: 1.7rem

  a
    text-decoration: none
    text-transform: uppercase
    font-weight: bold

    @media (min-width: $tablet-wide)
      display: block
      padding: 0.5rem 1.8rem
      color: $color-type
      text-transform: uppercase

.navicon
  display: block
  position: absolute
  right: 0
  z-index: 10
  color: $color-type
  font-size: 3.5rem
  padding: 0.3rem 0.9rem
  background-color: rgba(244, 241, 241, 0.95)

  @media (min-width: $tablet-wide)
    display: none

  &:hover
    @media (min-width: $tablet-wide)
      cursor: pointer

.content
  z-index: 1
  width: 100%
  padding: 0
  -webkit-overflow-scrolling: touch
  overflow: auto

.header
  width: 100%

  @media (min-width: $tablet)
    width: 100%

  @media (min-width: $widescreen)
    width: 100%

.section
  margin: 0 0 5rem 0
  min-height: 100vh

.section--detail
  margin: 10rem 0 0 0

.section-header
  margin: 0 0 4rem 0
  padding: 0 2rem
  text-align: center
  color: $color-type
  font-size: 3rem
  letter-spacing: 0.1rem

  @media (min-width: $tablet)
    font-size: 4rem

.section-content
  @include container
  padding: 0 2rem
  overflow: auto

  @media (min-width: $tablet)
    padding: 0 4rem 4rem

.section-intro
  .section-content
    padding-top: 10rem
    padding-bottom: 5rem

.section-intro, .section-about, .section-visit
  .section-content
    @media (min-width: $desktop)
      max-width: 80rem

.section-past-trainings
  margin-top: 5rem

.fa-chain
  display: inline-block
  font-family: FontAwesome
  font-size: 2rem
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before
    content: "\f0c1"

  &.fa-chain-big
    font-size: 3rem

.header-text
  font-size: 3.3rem
  font-weight: bold
  margin: 6rem 0 9rem 0
  line-height: 1.2
  text-align: center

  @media (min-width: $tablet)
    font-size: 7rem
    margin: 17rem 0

  @media (min-width: $tablet-wide)
    margin: 12rem 0

  @media (min-width: $desktop)
    margin: 16rem 0

.item
  margin: 0 0 3rem 0
  padding: 0 0 3rem 0
  border-bottom: 1px solid $color-type

  @media (min-width: $desktop)
    @include span(4 of 12 split)
    border-bottom: none
    padding: 0

  @media (min-width: $widescreen)
    @include span(4 of 12 split)

  &:last-child
    border-bottom: none

  &.item--detail
    margin: 0
    padding: 0
    width: 100%

.item__image
  width: 100%
  height: 25rem
  object-fit: cover

.item__primary-image
  width: 100%
  margin: 0 0 1.5rem 0

.item__name
  margin: 0

.item__name--contributor
  font-weight: bold

.item__meta
  margin: 0 0 2rem

.item__key
  font-weight: bold

.item__value
  display: inline

.event
  margin: 0 0 3rem 0
  padding: 0 0 3rem 0
  border-bottom: 1px solid $color-type

  &:last-child
    border-bottom: none

    @media (min-width: $widescreen)
      padding: 0

.event__time
  margin: 0

.event__name
  margin: 0

.event__text
  margin: 0

.event__description
  margin: 1rem 0

.section__row--texts
  position: relative
  overflow: hidden
  border-bottom: 1px solid $color-type
  margin-bottom: 1rem

  &:last-child
    border-bottom: none

  @media (min-width: $tablet)
    margin-bottom: 3rem

  @media (min-width: $widescreen)
    border-bottom: none

.section__row
  position: relative
  overflow: hidden

.item
  margin: 0 0 3rem 0
  padding: 0 0 3rem 0
  border-bottom: 1px solid $color-type

  @media (min-width: $desktop)
    @include span(6 of 12 split)
    border-bottom: none
    padding: 0
    font-size: 1.8rem

  @media (min-width: $widescreen)
    @include span(6 of 12 split)
    font-size: 1.6rem

  &:last-child
    border-bottom: none

  &.item--detail
    margin: 0
    padding: 0
    width: 100%

.item--text
  margin: 0 0 1rem 0
  padding: 0 0 5rem 0
  border-bottom: 1px solid $color-type
  position: relative

  @media (min-width: $tablet)
    margin: 0 0 3rem 0
    padding: 0 6rem 6rem 0
    border: none

  @media (min-width: $widescreen)
    @include span(6 of 12 split)
    border-bottom: none
    padding: 0 0 2rem 0

  &:last-child
    border-bottom: none

  &.show
    @media (min-width: $widescreen)
      padding: 0

    .item__description
      height: auto

    .item__toggle
      display: none

  .item__name
    margin: 0 0 1rem 0

  .item__description
    height: 18rem
    overflow: hidden

    @media (min-width: $tablet)
      height: 26.7rem

    @media (min-width: $desktop)
      height: 19.5rem

  .item__toggle
    position: absolute
    right: 2rem
    bottom: 1rem
    z-index: 10
    text-transform: uppercase

    @media (min-width: $tablet)
      bottom: 2rem

    @media (min-width: $desktop)
      bottom: 1rem
      right: 6rem

.gallery
  margin: 0 0 3rem

.gallery__item
  margin: 0 0 3rem

  @media (min-width: $tablet-wide)
    margin: 0
    width: 48%
    height: 25rem
    display: inline-block

.gallery__image
  width: 100%
  height: 100%
  object-fit: cover

.practice__primary-image
  width: 100%
  height: 25rem
  object-fit: cover

.tag
  margin: 0 0 1rem

  &:last-child
    margin: 0

.item__list
  margin: 6rem 0 0 0

  li
    @media (min-width: $tablet)
      clear: both

.reading__name,
.reading__tags
  display: block

  @media (min-width: $tablet)
    float: left

.reading__tags
  margin: 0 0 0 4rem

.reading__name
  @media (min-width: $tablet)
    width: 30%

.reading__tags
  @media (min-width: $tablet)
    width: 50%

.reading__tag

.training--empty
  text-align: center
