<section class="section section-artists" id="artists">
  <h2 class="section-header">ARTISTS <a href="#artists"><i class="fa fa-chain fa-chain-big"></i></a></h2>
  <div class="section-content">
    <div class="section__row">
    {% for contributor in contributors %}
      {% if contributor.bio %}
      <div class="item item--text" id="{{ contributor.slug }}">
        <span class="item__name item__name--contributor">{{contributor.name}}</span>
        <a href="{% url 'base:index' %}#{{ contributor.slug }}">
          <i class="fa fa-chain"></i>
        </a>
        <div class="item__description">{{ contributor.bio|safe }}</div>
        {% if contributor.bio|length > 300 %}
        <a href="#" class="item__toggle">read more</a>
        {% endif %}
      </div>
      {% if forloop.counter|divisibleby:"2" %}
    </div>
    <div class="section__row">
      {% endif %}
    {% endif %}
    {% endfor %}
  </div>
</section>