{% extends "base/base.html" %}

{% block navigation %}
{% include 'base/navigation.html' %}
{% endblock navigation %}

{% block content %}

{% include 'base/intro.html' %}

{% include 'base/practices.html' %}

{% include 'base/artists.html' %}

{% include 'base/resources.html' %}

<section class="section section--trainings" id="trainings">
  <h2 class="section-header">TRAININGS  <a href="#trainings"><i class="fa fa-chain fa-chain-big"></i></a></h2>
  {% include 'base/trainings.html' %}
  <div class="training" style="text-align:center;">
    <a href="{% url 'base:past-events' %}">See past trainings</a>
  </div>
</section>

{% include 'base/content-blocks.html' %}

{% endblock content %}