{% extends "base/base.html" %}

{% block navigation %}
{% include 'base/navigation.html' %}
{% endblock navigation %}

{% block content %}

<section class="section section--video">
  <div class='video'>
      <iframe
        src='https://player.vimeo.com/video/323043636?background=1&amp;autoplay=1&amp;loop=1&amp;title=0&amp;byline=0&amp;portrait=0'}
        frameBorder='0'
        allowFullScreen
      />
    </div>
</section>

{% include 'base/intro.html' %}

{% include 'base/practices.html' %}

{% include 'base/artists.html' %}

{% include 'base/resources.html' %}

<section class="section section--trainings" id="events">
  <h2 class="section-header">EVENTS  <a href="#events"><i class="fa fa-chain fa-chain-big"></i></a></h2>
  {% include 'base/trainings.html' %}
  <div class="training" style="text-align:center;">
    <a href="{% url 'base:past-events' %}">See past events</a>
  </div>
</section>

{% include 'base/content-blocks.html' %}

{% endblock content %}
