<nav class="navigation">
	<div class="navicon">&#9776;</div>
	<ul class="navigation-menu">
		<li class="navigation-menu-item">
			<a href="{% url 'base:index' %}#header">Study</a>
		</li>
		<li class="navigation-menu-item">
			<a href="{% url 'base:index' %}#">A</a>
		</li>
		{% for content_block in content_blocks %}
		{% if not forloop.first %}
		<li class="navigation-menu-item">
			<a href="{% url 'base:index' %}#{{ content_block.slug }}">{{ content_block.name }}</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</nav>