{% extends "base/base.html" %}

{% load static %}
{% load image_tags %}

{% block navigation %}
{% include 'base/navigation.html' %}
{% endblock navigation %}

{% block content %}
<section class="section section--detail section--{{practice.slug}}">
	<h2 class="section-header">
		{{practice.name|upper}}
		<a href="{% url 'base:practice-detail' slug=practice.slug %}">
			<i class="fa fa-chain fa-chain-big"></i>
		</a>
	</h2>
	<div class="section-content">
		<div class="item item--detail">
			{% if practice.primary_image %}
			<img 
				class="item__primary-image" 
				src="{% get_media_prefix %}{{ practice.primary_image.image }}" 
				srcset="{{ practice.primary_image.image | srcset }}"
				alt="{{ project.name }}" 
				loading="lazy"
			/>
			{% endif %}

			{% if practice.sorted_tags %}
			<div class="item__meta">
				<p class="item__tags">
				{% for tag in practice.sorted_tags.all %}
					(<a class="tag" href="{% url 'base:tag-detail' tag.slug %}">{{ tag.name }}</a>)
				{% endfor %}
				</p>
			</div>
			{% endif %}

			{% if practice.contributors.all %}
			<div class="item__meta">
				<span class="item__key">Contributed By: </span>
				<span class="item__value">
				{% for contributor in practice.contributors.all %}
				<a href="{% url 'base:index' %}#{{ contributor.slug }}">{{ contributor.name }}</a>{% if not forloop.last %}, {% endif %}
				{% endfor %}
				</span>
			</div>
			{% endif %}

			{% if practice.description %}
			<div class="item__meta">
				<span class="item__value">{{ practice.description|safe }}</span>
			</div>
			{% endif %}

			{% if practice.primary_pdf %}
			<div class="item__meta">
				<span class="item__key">PDF: </span>
				<span class="item__value">
					{% for pdf in practice.practicepdf_set.all %}
  				<a class="item-pdf" target="_blank" href="{{ pdf.pdf.url }}">
  					{{ pdf.name }}
  				</a>
  				{% endfor %}
				</span>
			</div>
			{% endif %}

			{% if practice.link %}
			<div class="item__meta">
				<span class="item__key">Website: </span>
				<span class="item__value">
					<a href="{{ practice.link }}" target="_blank">
						{{ practice.link }}
					</a>
				</span>
			</div>
			{% endif %}

			{% if practice.readings.length > 0 %}
			<div class="item__meta">
				<span class="item__key">Additional Readings: </span>
				<span class="item__value">
				{% for reading in practice.readings.all %}
					<a class="practice-reading" target="_blank" href="{% get_media_prefix %}{{ reading.pdf }}">
						{{ reading.name }}
					</a>
				{% endfor %}
				</span>
			</div>
			{% endif %}

			{% if practice.practiceimage_set.all %}
			<div class="item__gallery gallery">
			{% for item in practice.practiceimage_set.all %}
			{% if not item.is_primary %}
				<div class="gallery__item">
					<img 
						class="gallery__image" 
						src="{% get_media_prefix %}{{ item.image }}" 
						srcset="{{ item.image | srcset }}"
						alt="{{ practice.name }}" 
						loading="lazy"
					/>
				</div>
			{% endif %}
			{% endfor %}
			</div>
			{% endif %}

			{% for contributor in practice.contributors.all %}
			{% if contributor.bio %}
			<div class="item__meta">
				<span class="item__key">About {{ contributor }}: </span>
				<span class="item__value">{{ contributor.bio|safe }}</span>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
{% endblock content %}