{% extends "base/base.html" %}

{% load static %}

{% block navigation %}
{% include 'base/navigation.html' %}
{% endblock navigation %}

{% block content %}
<section class="section section--detail section--tag section--{{tag.slug}}">
	<h2 class="section-header">
		({{tag.name|upper}})
		<a href="{% url 'base:tag-detail' slug=tag.slug %}">
			<i class="fa fa-chain fa-chain-big"></i>
		</a>
	</h2>
	<div class="section-content">
		<div class="item--detail">
			<div class="item__meta">
				<span class="item__key">Contributed By: </span>
				<span class="item__value">
					{% for contributor in contributors %}
					<span class="item__contributor">
						<a href="{% url 'base:index' %}#{{ contributor.slug }}">{{ contributor.name }}</a>{% if forloop.last %}{% else %}, {% endif %}
					</span>
					{% endfor %}
				</span>
			</div>

			<div class="item__meta">
				<span class="item__key">Associated Methods: </span>
				<span class="item__value">
					{% for practice in practices %}
					<span class="item__contributor">
						<a href="{% url 'base:index' %}#{{ practice.slug }}">{{ practice.name }}</a>{% if forloop.last %}{% else %}, {% endif %}
					</span>
					{% endfor %}
				</span>
			</div>

			<ul class="item__list">
				<li class="list__item list__item--header">
					<span class="reading__name">PDF</span>
					<span class="reading__tags">TAGS</span>
				</li>
			{% for reading in readings %}
				<li class="list__item">
					<span class="reading__name">
						<span class="name__label">PDF: </span>
						<a target="_blank" href="{% get_media_prefix %}{{reading.pdf}}">{{ reading.name }}</a>
					</span>
					<span class="reading__tags">
					<span class="tags__label">TAGGED: </span>
					{% for tag in reading.sorted_tags.all %}
						(<a class="reading__tag" href="{% url 'base:tag-detail' tag.slug %}">{{ tag.name }}</a>)
					{% endfor %}
					</span>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</section>
<section class="section section--detail section--all-tags">
	<h2 class="section-header">
		TAGS
	</h2>
	<div class="section-content">
		<div class="item--detail">
		{% for tag in all_tags %}
			<span class="all-tags__item">
				(<a class="reading__tag" href="{% url 'base:tag-detail' tag.slug %}">{{ tag.name }}</a>)
			</span>
		{% endfor %}
		</div>
	</div>
</section>
{% endblock content %}